@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    background: #f0ecfc;
} */

.sidebar svg {
  height: 22px;
  width: 22px;
}

.global-class-name {
  height: 20px;
  width: 20px;
  color: #7f64ba;
  cursor: pointer;
}

.global-class-name:hover {

  color: #523495;
  cursor: pointer;
}
