@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');


*{
    font-family: 'Poppins', sans-serif;
} 

.sidebar svg {
  height: 22px;
  width: 22px;
}

.global-class-name {
  height: 20px;
  width: 20px;
  color: #7f64ba;
  cursor: pointer;
}

.global-class-name:hover {

  color: #523495;
  cursor: pointer;
}
